body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containor{
 width: 90%;
 max-width: 600px;
 background: linear-gradient(135deg,#00feba,#5b548a);
 color: #fff;
 margin-top: 60px;margin-bottom: 0px; margin-left: auto;margin-right: auto;
 border-radius: 20px;
height: 750px;
padding-left: 40px;padding-right: 35px;
text-align: center;
}
.search,.butt{
    margin-top: 10px;
    margin-left: 50px;
}
.search{
    border-radius: 20px;
    height: 50px;
    width: 340px;
  font-size: 20px;

}
.search:hover,.butt:hover{
    background-color: lightblue;
}

    

.butt{
    border-radius: 50%;
}
.c1{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;margin-left: 20px;text-align: center;
}

.rain_icon{
    width: 170px;
    margin-top: 40px;
}
.temp{
    font-size: 80px;
    font-weight: 450;
}
.weather h1{
    font-size: 80px;
    font-weight: 499;
    margin-top: -10px;
}
.city{
    font-size: 45px;
    font-weight: 400;
    margin-top: -40px;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;margin-right: 25px;
}
.col{
display: flex;
text-align: left;
font-size: larger;
}
.col img{
margin-right: 10px;
}
.weather{
    display: none;
}
.invalid{
    text-align: left;margin-left: 70px;
    display: none;
}




